body {
    background-color: #9C835F;
    text-align: center;
}

.logo {
    width: 5%;
    margin-left: 1%;
}

nav h2 {
    color: #F9B23D;
    margin-left: 2%;
}

.layout {
    margin-top: 5%;
}

.select{
    margin-left: auto;
    margin-right: auto;
    height: 205px;
}

.rps {
    margin-left: auto;
    margin-right: auto;
    height: 205px;
}

.batu {
    width: 128px;
    height: 92px;
    margin: 15%;
}

.kertas {
    width: 115px;
    height: 150px;
    margin: 10%;
}

.gunting {
    width: 134px;
    height: 160px;
    margin: 10%;
}

.status-layout {
    padding-top: 18%;
    text-align: center;
}

.status {
    font-size: 8rem;
    color: red;
}

.refresh {
    margin-top: 80%;
    width: 25%;
}

.box-rps {
    width: 225px;
    height: 205px;
    border-radius: 10%;
    justify-content: center;
    background-color: #C4C4C4;
}

.box-win {
    margin-left: -10%;
    font-size: 4rem;
    width: 17rem;
    height: 10.4rem;
    color: white;
    border-radius: 10%;
    transform: rotate(-25deg);
    background-color: #4C9654;
}

.box-draw {
    margin-left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 17rem;
    height: 10.4rem;
    color: white;
    border-radius: 10%;
    transform: rotate(-25deg);
    background-color: #035B0C;
}