@media only screen and (max-widh: 90rem) {}

body {
    font-family: sans-serif;
    color: white;
}

h1 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
    color: #FFB548;
}

p {
    font-size: 1.2rem;
}

.a {
    color: white;
}

.p-tiny {
    font-size: 1rem;
}



#main {
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    width: 90rem;
    height: 60rem;
    background-size: 100%;
}

#about {
    background-image: url(../images/the-games-bg.jpg);
    background-repeat: no-repeat;
    width: 90rem;
    height: 60rem;
    background-size: 100%;
}

#feature {
    background-image: url(../images/features.jpg);
    background-repeat: no-repeat;
    width: 90rem;
    height: 54.4rem;
    background-size: 100%;
    object-fit:cover;
}

#requirment {
    background-image: url(../images/requirements.png);
    background-repeat: no-repeat;
    width: 90rem;
    height: 60rem;
    background-size: 100%;
}

#quotes {
    background-image: url(../images/quotes.jpg);
    background-repeat: no-repeat;
    width: 90rem;
    height: 58rem;
    background-size: 100%;
}

#newsletter {
    background-color: #080A0B;
    width: 90rem;
    height: 60rem;
    background-size: 100%;
}

/* MAIN SECTION */

.main-bar {
    background-color: rgba(0, 0, 0, 0.5);
}

.main-logo {
    font-size: 2rem;
    color: white;
    padding-left: 5%;
    text-decoration: none;
}

.main-home {
    color: white;
    margin-left: 10%;
    text-decoration: none;
    width: 35rem;
    margin-right: 20%;
}

.main-login {
    width: 15rem;
}

.main-layout {
    text-align: center;
}

.main-title {
    margin-top: 17%;
    font-size: 5rem;
}

.main-p {
    margin-top: 4%;
}

.main-btn {
    margin-top: 2%;
    width: 16.3rem;
    height: 3.8rem;
    background-color: #FFB548;
    border-radius: 10px;
}

.main-story{
    text-align: center;
    margin-top: 18%;
}

.main-switch{
    transform: rotate(-90deg);
}

/* ABOUT SECTION */
.about-rps {
    background-image: url(../images/rockpaperstrategy-1600.jpg);
    position: absolute;
    width: 53.4rem;
    height: 29.8rem;
    margin-top: 20%;
    margin-left: 30%;
    background-size: 100%;
}

.about-layout {
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
}

.about-switch{
    position: absolute;
    width: 57rem;
    margin-top: 35%;
    margin-left: 28%;
}

.about-elipse{
    position: absolute;
    width: 50%;
    margin-top: 53%;
    margin-left: 25%;
}

/* FEATURE SECTION */
.feature-layout {
    position: absolute;
    margin-top: 10%;
    margin-left: 55%;
}

.feature-layout2 {
    position: absolute;
    margin-top: 25%;
    margin-left: 55%;
}

.feature-td {
    padding-top: 2%;
    padding-left: 10%;
}

.feature-tr {
    height: 6rem;
}

.line {
    position: absolute;
    margin-top: -60%;
    margin-left: 1.5%;
    height: 9rem;
    width: 0.2rem;
    background-color: white;

}

/* REQUIRMENT */
.requirment-layout {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
}

.disquette {
    background-image: url(../images/disquette.svg);
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 25%;
    margin-left: 10%;
    width: 35.9rem;
    height: 25.2em;
    padding: 1.5%;
}

.row-gr {
    margin-top: 8%;
}

/* QUOTES SECTION */

.quotes-box {
    width: 28.3rem;
    height: 11.4rem;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
}

.quotes-layout {
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
}

.quotes-box-layout {
    position: absolute;
    margin-top: 10%;
    margin-left: 45%;
}

.box-one {
    margin-left: 15%;
}

.box-two {
    margin-top: 5%;
}

.box-three {
    margin-top: 5%;
    margin-left: 12%;
}

.quotes-yellow {
    margin-top: 4%;
    margin-left: 4%;
    position: absolute;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    background-color: #FFB548;
}

.quotes-img {
    margin-top: 3%;
    margin-left: 3%;
    position: absolute;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}

.quotes-tweet {
    margin-top: 5%;
    margin-left: 90%;
}

.quotes-name {
    position: absolute;
    margin-top: 5%;
    margin-left: 25%;
}

.quotes-status {
    color: gray;
    margin-top: -10%;
}

.quotes-description {
    position: absolute;
    margin-top: 12%;
    margin-left: 5%;
}

.p-small {
    position: absolute;
    font-size: 0.7rem;
    margin-top: 25%;
    margin-left: 5%;
    color: gray;
}


/* NEWSLETTER SECTION */

.newsletter-img {
    border-radius: 100%;
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
}

.newsletter-layout {
    position: absolute;
    width: 42rem;
    margin-top: 15%;
    margin-left: 45%;
}

.newsletter-form {
    width: 22.9rem;
    height: 3.8rem;
    margin-top: 2%;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    padding-top: 1%;
    padding-left: 3%;
}

.p-form{
    color: #FFB548;
}

.footer-layout {
    position: absolute;
    margin-top: 55%;
    width: 100%;
}

.footer {
    margin-left: 5%;
    margin-right: 12%;
}

.p-cp {
    font-size: 0.7rem;
    color: gray;
}

hr {
    width: 80%;
    margin-left: 7%;
}